<h1>Beneficiários</h1>

<button id="btnNovoBeneficiario">
    Novo Beneficiário
</button>

<button id="btnAtualizarBeneficiarios">
    Atualizar Lista
</button>

<br><br>

<table border="1" width="100%" cellspacing="0" cellpadding="10">

    <thead>

        <tr>

            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Ativo</th>
            <th>Ações</th>

        </tr>

    </thead>

    <tbody id="tabelaBeneficiarios">

    </tbody>

</table>

<script type="module" src="../js/beneficiarios.js"></script>