<h1>Relatórios</h1>

<div class="cards-relatorios">

    <div class="card-relatorio">

        <h3>🏢 Instituições</h3>

        <p id="totalInstituicoes">0</p>

    </div>

    <div class="card-relatorio">

        <h3>👥 Beneficiários</h3>

        <p id="totalBeneficiarios">0</p>

    </div>

    <div class="card-relatorio">

        <h3>🟢 Ativos</h3>

        <p id="beneficiariosAtivos">0</p>

    </div>

    <div class="card-relatorio">

        <h3>🔴 Inativos</h3>

        <p id="beneficiariosInativos">0</p>

    </div>

</div>